@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

nav {
    background-color: black;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin: 0;
}

.navigation-button>a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

