nav {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navigation-button{
    list-style: none;
}
.navigation-button>a:hover{
    font-weight: bold;
    font-size: 18px;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin: 0;
}

.navigation-button > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: 'Martian Mono', monospace;
  transition: font-weight 0.3s ease; /* Smooth transition for font-weight */
}