.slider-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    font-family: 'Martian Mono', monospace;
    font-size: 12px;
    margin: 40px;
}

.image-link{
    width: 40px;
}

.connect-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 80px;
    width: 100%;
    border-color: #DBD3D8;
    border-style: dotted;
    margin-top: 10px;
}